:root {
    --primary-color: #0fe4d9;
    --secondary-color: #2485e6;
    --main-bg-color: rgb(13, 24, 33);
    --body-font-color: #e6e6e6;
    --body-bg-gradient: linear-gradient(to right, #2c2d3f, #3f4164);
    --main-container-width: 1400px;
    --main-font: "Source Sans Pro", sans-serif;
}
