body {
    background-color: var(--main-bg-color);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
	width: 0;
    background: transparent;
}
body {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}